*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.hero{
    position: relative;
    width: 100%;
    height: 70vh;
    background:  #eff4fd;

}

nav{
    display: flex;
    width: 100%;
    background-color: #646262;
    padding: 20px 0;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: center;
    z-index: 9999;
}

nav ul li{
    display: inline-block;
    color: black;
    list-style: none;
    margin: 10px 8px;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 25px;
}

nav ul li a:hover{
    color: rgb(136, 95, 34);
    background-color: rgb(180, 174, 174);
    box-shadow: 0 0 10px  white;
}

.detel{
    margin-left: 8%;

}
 
.info{
    margin-left: 8%;

}

.detel h3{
    font-size: 50px;
    color: #212121;
    margin-top: 40px;
    position: relative;
}

span{
    color: rgb(96, 69, 20);
}


.images{
    width:45%;
    height: 100%;
    position: absolute;
    right: 260px
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 180px;
    transform: translateX(-50) ;
    transition: bottom 1s, left 1s;
}

.images:hover .Homepg{
    left: 275px;
}


.headera{
    margin-left: 8%;
    justify-content: center;
    align-items: center;
}

.introa{
    margin-left: 8%;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    color: #0b0b0b;
    margin-bottom: 20px;
    font: century;
    line-break: auto;
    font-size: large;
}


.hero1{
    position: relative;
    width: 100%;
    height: 70vh;
    background:  #a3bae4;

}

.hero2{
    position: relative;
    width: 100%;
    height: 70vh;
    background:  #eff4fd;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px; 
    width: 335px;
    padding: 20px 35px;
    background-color: #be7413b9;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card h2{
    margin-top: 4%;
    font-size: medium;
}

.card p{
    margin-top: 8%
}

.hero3{
    position: relative;
    width: 100%;
    height: 70vh;
}


.images1{

    position: relative;
    display: flex;
    object-fit: cover;
    
}

.images1 img{
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}

.component{
    position: absolute;
}



.component .btn{
    text-decoration: double;
    color: rgb(13, 12, 12);
    margin-left: 140%;
    padding: 20px 30px;
    height: auto;
    width: 900px;
    border-radius: 27px;
    white-space: nowrap;
    background-color: palevioletred;
    font-family: cursive;
    font-style: oblique;
    font-size: x-large;

}

.btn:hover{
    color: palevioletred;
    background-color:rgb(13, 12, 12) ;   
}
.component .btn1{
    text-decoration: double;
    color: rgb(13, 12, 12);
    margin-left: 140%;
    padding: 20px 30px;
    height: auto;
    width: 900px;
    border-radius: 27px;
    white-space: nowrap;
    background-color: rgb(88, 161, 61);
    font-family: cursive;
    font-style: oblique;
    font-size: x-large;
    margin-top: 2000%;
}

.btn1:hover{
    color: rgb(88, 161, 61);
    background-color:rgb(13, 12, 12) ;
}

.hero4{
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: 140px;
    background:  #a3bae4;
}


.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.card1{
    height: 165px;
    width: 465px;
    padding: 20px 35px;
    background-color: #be7507b9;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.hero5{
    position: relative;
    width: 100%;
    height: 60vh;
    background:  #eff4fd;;
}

.headerb {
    margin-left: 8%;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-family: cursive;
    font-weight: bold;
    font-size: large;
}

.headerb .name{
    margin-left: 30%;
    margin-top: 0.7%;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.contact{
    background: #893105;
    width: 100%;
    height: 16vh;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.contact  .share a{
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
    margin-top: 0.8%;
}



/* media queries */
@media(max-width:412px){

    nav ul li{
        display: inline-block;
        color: black;
        list-style: none;
        margin: 1px 1px;
        font-size: 10px;
        align-items: center;
    }
    
    nav ul li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 8px 4px;
    }
    
    nav ul li a:hover{
        color: rgb(136, 95, 34);
        background-color: rgb(180, 174, 174);
        box-shadow: 0 0 10px  white;
    }

    .hero{
        position: relative;
        width: 100%;
        height: 45vh;
        background:  #eff4fd;
    
    }

    
.images{
    width:45%;
    height: 100%;
    position: absolute;
    right: 260px
}

.images img{
    height: 100%;
    position: absolute;
    left: 88%;
    bottom: 180px;
    transform: translateX(-50) ;
    transition: bottom 1s, left 1s;
}

.images:hover .Homepg{
    left: 140px;
}

.detel{
    margin-left: 3.5%;

}

.detel h1{
    font-size: 17px;
    color: #212121;
    margin-top: 2px;
    position: relative;
}

.hero1{
    position: relative;
    width: 100%;
    height: 45vh;
    background:  #a3bae4;

}

.hero2{
    position: relative;
    width: 100%;
    height: 45vh;
    background:  #eff4fd;
}


.headera{
    margin-left: 3.5%;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.introa{
    margin-left: 3.5%;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    color: #0b0b0b;
    margin-bottom: 20px;
    font: century;
    line-break: auto;
    font-size: medium;
}


.card{
    height: 300px; 
    width: 335px;
    padding: 20px 30px;
    background-color: #be7413b9;
    border-radius: 20px;
    margin: 3.5px;
    margin-top: 2%px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card h2{
    margin-top: 4%;
    font-size: medium;
}

.card p{
    margin-top: 8%;
    font-size: 75%;
    margin-left: 3.5%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}


.hero3{
    position: relative;
    width: 100%;
    height: 28.3vh;
}


.images1{

    position: absolute;
    display: flex;
    object-fit: cover;
    margin-left: -10%;
    direction:rtl;

}

.images1 img{
    opacity: 1;
    max-width: 200%;
    max-height: 200%;
}


.component .btn{
    text-decoration: double;
    color: rgb(13, 12, 12);
    margin-right: 30%;
    padding: 8px 8px;
    height: auto;
    width: 90px;
    border-radius: 27px;
    white-space: nowrap;
    background-color: palevioletred;
    font-family: cursive;
    font-style: oblique;
    font-size: medium;

}

.btn:hover{
    color: palevioletred;
    background-color:rgb(13, 12, 12) ;   
}
.component .btn1{
    text-decoration: double;
    color: rgb(13, 12, 12);
    margin-right: 30%;
    padding: 8px 8px;
    height: auto;
    width: 900px;
    border-radius: 27px;
    white-space: nowrap;
    background-color: rgb(88, 161, 61);
    font-family: cursive;
    font-style: oblique;
    font-size:medium;
    margin-top: 2000%;
}

.btn1:hover{
    color: rgb(88, 161, 61);
    background-color:rgb(13, 12, 12) ;
}


.hero4{
    position: relative;
    width: 100%;
    height: 38vh;
    margin-top: 140px;
    background:  #a3bae4;
}

.card1 h2{
    margin-top: 4%;
    font-size: medium;
}

.card1 h3{
    margin-top: 0%;
    font-size: 90%;
    margin-left: 3.5%;
}

.card1{
    height: 195px;
    width: 465px;
    padding: 20px 35px;
    background-color: #be7507b9;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.hero5{
    position: relative;
    width: 100%;
    height: 20vh;
    background:  #eff4fd;
    line-break: loose;  
}

.headerb {
    margin-left: 3.5%;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-family: cursive;
    font-weight: bold;
    font-size: medium;

}

.headerb .name{
    margin-left: 60%;
    margin-top: 0.7%;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.contact{
    background: #893105;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.contact  .share a{
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
    margin-top: 0.8%;
}

.contact h3{
    font-size: medium;
}

}


/* media queries */
@media(max-width:768px){

    nav ul li{
        display: inline-block;
        color: black;
        list-style: none;
        margin: 1px 1px;
        font-size: 10px;
        align-items: center;
    }
    
    nav ul li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 8px 4px;
    }
    
    nav ul li a:hover{
        color: rgb(136, 95, 34);
        background-color: rgb(180, 174, 174);
        box-shadow: 0 0 10px  white;
    }

    .hero{
        position: relative;
        width: 100%;
        height: 45vh;
        background:  #eff4fd;
    
    }

    
.images{
    width:45%;
    height: 100%;
    position: absolute;
    right: 260px
}

.images img{
    height: 100%;
    position: absolute;
    left: 88%;
    bottom: 180px;
    transform: translateX(-50) ;
    transition: bottom 1s, left 1s;
}

.images:hover .Homepg{
    left: 140px;
}

.detel{
    margin-left: 3.5%;

}

.detel h1{
    font-size: 17px;
    color: #212121;
    margin-top: 2px;
    position: relative;
}

.hero1{
    position: relative;
    width: 100%;
    height: 45vh;
    background:  #a3bae4;

}

.hero2{
    position: relative;
    width: 100%;
    height: 45vh;
    background:  #eff4fd;
}


.headera{
    margin-left: 3.5%;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.introa{
    margin-left: 3.5%;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    color: #0b0b0b;
    margin-bottom: 20px;
    font: century;
    line-break: auto;
    font-size: medium;
}


.card{
    height: 300px; 
    width: 335px;
    padding: 20px 30px;
    background-color: #be7413b9;
    border-radius: 20px;
    margin: 3.5px;
    margin-top: 2%px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card h2{
    margin-top: 4%;
    font-size: medium;
}

.card p{
    margin-top: 8%;
    font-size: 75%;
    margin-left: 3.5%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}


.hero3{
    position: relative;
    width: 100%;
    height: 28.3vh;
}


.images1{

    position: absolute;
    display: flex;
    object-fit: cover;
    margin-left: -10%;
    direction:rtl;

}

.images1 img{
    opacity: 1;
    max-width: 200%;
    max-height: 200%;
}


.component .btn{
    text-decoration: double;
    color: rgb(13, 12, 12);
    margin-right: 30%;
    padding: 8px 8px;
    height: auto;
    width: 90px;
    border-radius: 27px;
    white-space: nowrap;
    background-color: palevioletred;
    font-family: cursive;
    font-style: oblique;
    font-size: medium;

}

.btn:hover{
    color: palevioletred;
    background-color:rgb(13, 12, 12) ;   
}
.component .btn1{
    text-decoration: double;
    color: rgb(13, 12, 12);
    margin-right: 30%;
    padding: 8px 8px;
    height: auto;
    width: 900px;
    border-radius: 27px;
    white-space: nowrap;
    background-color: rgb(88, 161, 61);
    font-family: cursive;
    font-style: oblique;
    font-size:medium;
    margin-top: 2000%;
}

.btn1:hover{
    color: rgb(88, 161, 61);
    background-color:rgb(13, 12, 12) ;
}


.hero4{
    position: relative;
    width: 100%;
    height: 38vh;
    margin-top: 140px;
    background:  #a3bae4;
}

.card1 h2{
    margin-top: 4%;
    font-size: medium;
}

.card1 h3{
    margin-top: 0%;
    font-size: 90%;
    margin-left: 3.5%;
}

.card1{
    height: 195px;
    width: 465px;
    padding: 20px 35px;
    background-color: #be7507b9;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.hero5{
    position: relative;
    width: 100%;
    height: 20vh;
    background:  #eff4fd;
    line-break: loose;  
}

.headerb {
    margin-left: 3.5%;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-family: cursive;
    font-weight: bold;
    font-size: medium;

}

.headerb .name{
    margin-left: 60%;
    margin-top: 0.7%;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.contact{
    background: #893105;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.contact  .share a{
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
    margin-top: 0.8%;
}

.contact h3{
    font-size: medium;
}

}
